<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginForm.html</title>
    
    <link href="/board.css" rel="stylesheet">
</head>
<body>
    <form class="login-form" method="post"  name="login">
        <h2>Login</h2>
        <div class="field">
            <label>User ID</label><input type="text" name="userid" id = "userid" value=""></div>
        <div class="field">
            <label>Password</label><input type="password" name="pwd" id ="pwd"></div>
        <div class="field" id = "message"></div>
        <div class="login-button">
            <input type="submit" class="btn-login" value="log in" />
            <input type="button" class="btn-login" value="join" onclick="location.href='/member/joinForm'"/>
        </div>
        <div class="sns-login">
            <input type="button" class="btn facebook" value="Facebook" />
            <input type="button" class="btn twitter" value="Twitter" />
            <input type="button" class="btn google" value="Google" />
            <input type="button" class="btn kakao" value="Kakao"/>
        </div>
    </form>
</body>
</html>
<script>

document.querySelector("form").addEventListener("submit",async (e)=>{
    e.preventDefault();
    try{
        let data = await postFn("/member/login",  new FormData(e.target));
        if(data.msg !="ok") document.querySelector("#message").innerHTML=data.msg;
        else location.href="board/boardList";

    }catch(err){
        console.error(err);
    }
});


function postFn(link , dataform){
    let formDataObj = {};
    dataform.forEach((value,key)=>{
        formDataObj[key]=value;
    });
    return new Promise((resolve, reject)=>{
        fetch(link,({
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(formDataObj)
        })).then(reponse=>{
            if(reponse.ok) return reponse.json();
            else throw new Error('Network response was not ok ' + response.statusText);
        }).then(data=>{
            resolve(data);
        }).catch(err=>{
            reject(data);
        })       
    });
}
</script>