* { margin: 0; padding: 0;  }
body {  background: #333; height: 100%; }
img { display: block;  }
#gameContent { position: relative; height:100vh; width: 100%; display: flex; overflow: hidden; }
.game_container { position: relative; width: 465px; background-image: url('./img/gameBackground.png'); background-size: cover;  height: 834px;margin: auto; }

@keyframes cha-default {
 from {
    background-position: 0 0;
 }
 to {
    background-position: 280px 0;
 }
}
@keyframes cha-shadow {
 from {
    background-position: 0 0;
 }
 to {
    background-position: 88.8px 0;
 }
}
@keyframes cha-left {
 from {
    background-position: 0 0;
 }
 to {
    background-position: 224px 0;
 }
}

.character-wrap { position: absolute; left: 50%; top: 50%; }
.character {  position: relative; z-index: 2;  width: 56px; height: 120px; background-image: url('./img/character.png'); background-size: 280px 120px; background-position: 0; animation: cha-default infinite 1s steps(5);}
.character-wrap::before { content: ''; display: block; position: absolute;bottom: 4%; left:24%; width: 29.6px; height: 13.6px; background-image: url('./img/shadow.png'); background-size: 88.8px 13.6px;  animation: cha-shadow infinite 0.8s steps(3); }

.character-wrap.walktop    .character{ background-image: url('./img/char-walk-top.png'); background-size: 224px 120px; background-position: 0; animation: cha-left infinite 0.6s steps(4);}
.character-wrap.walkdown   .character{ background-image: url('./img/char-walk-down.png'); background-size: 224px 120px; background-position: 0; animation: cha-left infinite 0.6s steps(4);}
.character-wrap.walkLeft   .character{ background-image: url('./img/char-walk-left.png'); background-size: 224px 120px; background-position: 0; animation: cha-left infinite 0.6s steps(4);}
.character-wrap.walkright  .character { background-image: url('./img/char-walk-right.png'); background-size: 224px 120px; background-position: 0; animation: cha-left infinite 0.6s steps(4);}


.acadeNail { position: absolute; top: 60px;left: 350px; }
.acadeNail-Section { position: absolute; left: 350px;  top: 250px; width:70px; height: 30px;  }

.blueleoNail { position: absolute; top: 60px;left: 50px; }
.blueleoNail-Section { position: absolute; left: 50px; top: 250px; width:70px; height: 30px;   }

.indegoFlow { position: absolute; top: 350px; left: 12px; }
.morderBlackNail { position: absolute; top: 450px; left: 12px; }
.roseNail { position: absolute; top: 550px; left: 12px; }

.indegoFlow-section { position: absolute; top: 380px; left: 90px; width:30px; height: 99px;  }
.morderBlackNail-section { position: absolute; top: 480px; left: 90px; width:30px; height: 99px;   }
.roseNail-section { position: absolute; top: 580px; left: 90px; width:30px; height: 120px;  }

.minji { position: absolute; top: 300px; left: 380px; }
.minji-section { position: absolute; top: 320px; left: 330px; height: 125px; width: 80px; }
.helin { position: absolute; top: 440px; left: 350px; }
.helin-section { position: absolute; top: 460px; left: 300px; height: 130px; width: 80px; }
.dainel { position: absolute; top: 600px; left: 380px; }
.dainel-section { position: absolute; top: 620px; left: 330px; height: 130px; width: 80px; }


.text_wrap { display: none; position: fixed; width:465px; height: 834px; z-index: 3; }
.dim { content: ''; display: block; position: absolute; width:100%; 
   height: 100%; background: rgba(0,0,0,0.5); }
.text_wrap .text_box { min-height: 80px; color: #000; width: calc(100% - 60px); border-top-left-radius: 10px; border-top-right-radius: 10px;
   position: absolute; bottom: 0; display: block; padding: 30px 30px; background:#f7f7f7 }
.close { position: absolute; top: -40px; left: 0; line-height: 1em; 
   color: #fff; width: 100%; text-align: center; display: block; opacity: 0.5; 
   cursor: pointer;
}
.text_box img { width: 100px;  position: fixed; bottom:60%; left: 50%; margin-left: -50px; }
.text_box p { display: block; width: 100%; font-size: 15px; padding-bottom: 30px; padding-top: 10px; line-height: 1.5em; }
.text_box h2 { display: block; font-size: 20px; padding-bottom: 10px; border-bottom: 1px solid #ccc; }
.text_box a {  font-size: 13px; display: inline-block; text-decoration: none; padding: 10px 20px; background: #000; color: #fff; }

.text_box > span { opacity: .3; display: none; position: absolute; right: 30px; bottom: 30px; }
.arrowBtnWrap {z-index: 2; align-items: center; justify-content: center; position: absolute; right:20px; bottom: 20px; width: 120px; height: 120px;  background: rgba(20,20,20,0.5); border: 1px solid #555;  border-radius: 50%; }
.enter { border-radius: 5px; font-size: 13px;  animation: enter 1s alternate infinite ; z-index: 2; display: none; align-items: center; 
justify-content: center;   position: absolute; left:20px; bottom: 30px; padding: 10px 20px; background: rgba(20,20,20,0.5); color: rgba(255,255,255,0.8);}


@media screen and (max-width: 465px ) {
   /* .game_container { width: 100%; } */
   .text_wrap { width:100%;  position: fixed;  top: 0; left: 0;  }
   .text_box img { width: 30%;  top:20%; left: 35%; margin-left: 0; }
   
   .arrowBtnWrap  { position: fixed; bottom: 20px; right: 20px; }
   .enter  {  position: fixed;  left:20px; bottom: 30px;  }
   .character-wrap span  { display: none !important; }
}
@media screen and (min-width: 600px ) {
   /* .text_box img { width: 150px;  position: fixed; bottom:55%; left: 50%; margin-left: -75px; } */
   .enter  { display: none !important; }
   .arrowBtnWrap { display: none !important; }
}

@media screen and (max-height: 834px ) {
   .text_wrap { height: 100%; bottom: 0;  }
   .arrowBtnWrap  { position: fixed; bottom: 20px; }
}


@keyframes enter {
   from {
      opacity: 0.5;
   }
   to {
      opacity: 1;
   }
  }

.character-wrap span { z-index: 2;  display: none; color: #fff; font-weight: 600; position: absolute; top: -20px; width: 100%; text-align: center; animation: enter 0.5s infinite ; }




/* .sectioncolor {background: rgba(142, 252, 138, 0.8);   } */